name: build

on:
  push:
    paths-ignore:
      - "**.md"
      - "**.bbcode"
      - LICENSE
      - .github/FUNDING.yml
    branches: [main, dev]
  pull_request:
    paths-ignore:
      - "**.md"
      - "**.bbcode"
      - LICENSE
      - .github/FUNDING.yml
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install build dependencies (apt)
        run: sudo apt install -y libx11-dev libxcursor-dev libpng-dev
        continue-on-error: false
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Caching yarn packages
        uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Set Up NodeJS 12.x
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - name: Caching pip packages
        uses: actions/cache@v2
        id: pip-cache # use this to check for `cache-hit` (`steps.pip-cache.outputs.cache-hit != 'true'`)
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.py') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Generating `macOSMonterey` symlinks
        run: cd svg && python link.py && cd ..
        continue-on-error: false

      - name: Generating `macOS` Cursor Theme
        run: make
        continue-on-error: false

      - name: Compressing `macOS` UNIX themes
        run: |
          tar -cvzf macOSBigSur.tar.gz themes/macOSBigSur
          tar -cvzf macOSBigSur-White.tar.gz themes/macOSBigSur-White
          tar -cvzf macOSMonterey.tar.gz themes/macOSMonterey
          tar -cvzf macOSMonterey-White.tar.gz themes/macOSMonterey-White

      - name: Uploading `macOSBigSur` UNIX Theme
        uses: actions/upload-artifact@v2
        with:
          name: macOSBigSur
          path: macOSBigSur.tar.gz

      - name: Uploading `macOSBigSur` Windows Theme
        uses: actions/upload-artifact@v2
        with:
          name: macOSBigSur-Windows
          path: themes/macOSBigSur-Windows/*

      - name: Uploading `macOSMonterey` UNIX Theme
        uses: actions/upload-artifact@v2
        with:
          name: macOSMonterey
          path: macOSMonterey.tar.gz

      - name: Uploading `macOSMonterey` Windows Theme
        uses: actions/upload-artifact@v2
        with:
          name: macOSMonterey-Windows
          path: themes/macOSMonterey-Windows/*

      - name: Uploading `macOSBigSur-White` UNIX Theme
        uses: actions/upload-artifact@v2
        with:
          name: macOSBigSur-White
          path: macOSBigSur-White.tar.gz

      - name: Uploading `macOSBigSur-White` Windows Theme
        uses: actions/upload-artifact@v2
        with:
          name: macOSBigSur-White-Windows
          path: themes/macOSBigSur-White-Windows/*

      - name: Uploading `macOSMonterey-White` UNIX Theme
        uses: actions/upload-artifact@v2
        with:
          name: macOSMonterey-White
          path: macOSMonterey-White.tar.gz

      - name: Uploading `macOSMonterey-White` Windows Theme
        uses: actions/upload-artifact@v2
        with:
          name: macOSMonterey-White-Windows
          path: themes/macOSMonterey-White-Windows/*

      - name: Uploading `macOSBigSur` bitmaps
        uses: actions/upload-artifact@v2
        with:
          name: bitmaps
          path: bitmaps/*
